.sunrise,
.sunset,
.humidity,
.wind {
  text-align: center;
  font-size: 23px;
}
.sunrise-time,
.sunset-time,
.humid-value,
.wind-speed {
  text-align: center;
  color: #2d4f53;
  font-size: 19px;
}

.less-button {
  padding: 0 0 10px 0;
}